.nav ul{
    list-style: none;
    background-color: #1b2838  ;
    margin: 0;
    overflow: hidden;
    padding-left: 35.90%;
}
.nav a {
    color: #c7d5e0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav a:hover{
    background-color: #171a21 ;
    transition: 1s;
}
.nav li{
    float: left;
    text-align: center;
}

body{
    background-color: #2a475e;
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-auto-rows: minmax(100px,auto);

    grid-template-areas: 
    'header header header header'
    'nav nav nav nav'
    'text text text side'
    'text text text side'
    'footer footer footer footer'
    ;
}
header{
    grid-area: header;
    text-align: center;
    font-size: 30px;
    color: #c7d5e0;
    background-color: #1b2838;
}
nav{
    grid-area: nav;
}

.left{
    grid-area: text;
    color: #c7d5e0;
    background-color:  #2a475e ;
    margin: 10px;
}
.right{
    background-color: #171a21;

    grid-area: side;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer{
    grid-area: footer;
    background-color: #1b2838;
}

p{
    font-size:large ;
}

.right img{
    width: 75%;
    
}